<header>
    <a href="/"><div class="logo-container">
        <p>Frozen</p>
        <p>Foods</p>
    </div>
</a>
    <div class="menu-container">
        <p>Menu</p>
        <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="search-container">
        <input type="text" class="searcher" placeholder=" Buscar... ">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="user-container">
        <a href="/product/carrito"><i class="fa-solid fa-cart-plus"></i></a>
        <p><a href="/users/signIn"> Mi cuenta</a></p>
        <i class="fa-solid fa-user"></i>
    </div>
</header>