<header>
    <a href="/"><div class="logo-container">
        <p>Frozen</p>
        <p>Foods</p>
    </div>
</a>
    <div class="menu-container">
        <p><a href="/product/allproducts" class="header-menu">Menu</a></p>
        <i class="fa-solid fa-angle-down"></i>
    </div>
    <div class="search-container">
        <input type="text" class="searcher" placeholder=" Buscar... ">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="user-container">
        
        <p><a href="http://localhost:3000/">Dashboard</a></p>
        
        <a href="/product/carrito"><i class="fa-solid fa-cart-plus"></i></a>
        <% if (locals.isLogged){%>
                  
        <p><a href="/users/profile"> Mi cuenta</a></p>
        <i class="fa-solid fa-user"></i>
        <p><a href="/users/logout"> Cerrar sesión</a></p>
       <%} else {%>
        <p><a href="/users/signIn"> Iniciar sesión</a></p>
        <p><a href="/users/signUp"> Registrarme</a></p>
        <% } %> 
    </div>
</header>