<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estructura.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <title>Frozenfoods/carrito</title>
    <script src="https://kit.fontawesome.com/d23aa527fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body class="estilo-body">
    <header>
        <div class="logo-container">
            <p>Frozen</p>
            <p>Foods</p>
        </div>
        <div class="menu-container">
            <p>Menu</p>
            <i class="fa-solid fa-angle-down"></i>
        </div>
        <div class="search-container">
            <input type="text" class="searcher" placeholder=" Buscar... ">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="user-container">
            <i class="fa-solid fa-cart-plus"></i>
            <p>Mi cuenta</p>
            <i class="fa-solid fa-user"></i>
        </div>
    </header>
    <main class="main-carrito">
        <section>

            <article class="articulocarrito">

                <Img class="imagen" src="/images/lentejas-coco.jpg" alt="lentejas">

                <div class="textoscarrito">
                    <h3 class="tituloscarrito">Sopa de lentejas al coco</h3>

                    <a class="eliminar" href="">Eliminar</a>
                </div>
                <div class="cantidad">
                    <p class="tituloscarrito">Cantidad</p>
                    <p class="tituloscarrito">
                        <i class="fa-solid fa-circle-minus"></i>
                        1
                        <i class="fa-solid fa-circle-plus"></i>
                    </p>
                </div>
                <p class="precios">$2.5</p>


            </article>
            <article class="articulocarrito">

                <Img class="imagen" src="/images/desmechada.jpg" alt="desmechada">

                <div class="textoscarrito">
                    <h3 class="tituloscarrito">Carne de res desmechada</h3>

                    <a class="eliminar" href="">Eliminar</a>
                </div>
                <div class="cantidad">
                    <p class="tituloscarrito">Cantidad</p>
                    <p class="tituloscarrito">
                        <i class="fa-solid fa-circle-minus"></i>
                        2
                        <i class="fa-solid fa-circle-plus"></i>
                    </p>
                </div>
                <p class="precios">$5</p>


            </article>
            <article class="articulocarrito">

                <Img class="imagen" src="/images/pollo-curry.jpg" alt="Pollocurry">

                <div class="textoscarrito">
                    <h3 class="tituloscarrito">Pollo al curry</h3>

                    <a class="eliminar" href="">Eliminar</a>
                </div>
                <div class="cantidad">
                    <p class="tituloscarrito">Cantidad</p>
                    <p class="tituloscarrito">
                        <i class="fa-solid fa-circle-minus"></i>
                        2
                        <i class="fa-solid fa-circle-plus"></i>
                    </p>
                </div>
                <p class="precios">$8</p>


            </article>
            <article class="articulocarrito">

                <Img class="imagen" src="/images/vege-blanc.jpg" alt="Vegetales">

                <div class="textoscarrito">
                    <h3 class="tituloscarrito">Vegetales blanqueados</h3>

                    <a class="eliminar" href="">Eliminar</a>
                </div>
                <div class="cantidad">
                    <p class="tituloscarrito">Cantidad</p>
                    <p class="tituloscarrito">
                        <i class="fa-solid fa-circle-minus"></i>
                        1
                        <i class="fa-solid fa-circle-plus"></i>
                    </p>
                </div>
                <p class="precios">$2</p>


            </article>
            <article class="articulocarrito">

                <Img class="imagen" src="/images/pure-papa.jpg" alt="Pure">

                <div class="textoscarrito">
                    <h3 class="tituloscarrito">Pure de papa</h3>

                    <a class="eliminar" href="">Eliminar</a>
                </div>
                <div class="cantidad">
                    <p class="tituloscarrito">Cantidad</p>
                    <p class="tituloscarrito">
                        <i class="fa-solid fa-circle-minus"></i>
                        4
                        <i class="fa-solid fa-circle-plus"></i>
                    </p>
                </div>
                <p class="precios">$6</p>


            </article>



        </section>
        <section class="seccion-carritores">
            <div class="cuadro-resumen">
                <div class="titulos-resumen-carrito">
                    <p>Envío a tu domicilio</p>
                    <h3>Total</h3>
                </div>
                <div class="costos">
                    <p>$5</p>
                    <p>$28.5</p>
                </div>
            </div>
            <a href="/"><button type="button" class="botoncarrito">Finalizar compra</button></a>
        </section>
    </main>
    <footer>
        <section class="piedepagina">
            <article>

                <h3>Tienda</h3>
                <div class="textosfooter">
                    <p> Si tienes alguna duda puedes comunicarte con...</p>
                    <div class="iconosfooter">
                        <a href="https://www.facebook.com"><i class="fa-brands fa-facebook iconos"></i></a>
                        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram iconos"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=XXXXXXXXXXX"><i
                                class="fa-brands fa-whatsapp iconos"></i></a>
                    </div>
                </div>
            </article>
            <article>
                <h3> FAQ </h3>
                <div class="textosfooter">
                    <li><a href="">Cómo comprar</a></li>
                    <li><a href="">Zonas de entrega</a></li>
                    <li><a href="">Términos y condiciones</a></li>
                </div>
            </article>
            <article>
                <h3>Mi perfil</h3>
                <div class="textosfooter">
                    <li><a href="">Mi cuenta</a></li>
                    <li><a href="">Mis pedidos</a></li>
                </div>
            </article>
        </section>
        <h6>Copyright © 2022 Frozenfoods</h6>
    </footer>
</body>

</html>