<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesf.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Salsa&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d23aa527fe.js" crossorigin="anonymous"></script> <!--script para poder incluir iconos de fontawesome-->
    <title>Frozenfoods</title>
</head>
<body>
    <header>

    </header>
    <main>

    </main>
    <!--aquí empieza el footer-->
    <footer >
        <section class="piedepagina">
            <article>
                
            <h3>Tienda</h3>
            <div class="textosfooter">
            <p> Si tienes alguna duda puedes comunicarte con...</p>
            <div class="iconosfooter">
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook iconos"></i></a>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram iconos"></i></a>
                <a href="https://api.whatsapp.com/send?phone=XXXXXXXXXXX"><i class="fa-brands fa-whatsapp iconos"></i></a>
            </div>
            </div>            
            
            </article>
            <article>
                
            <h3> FAQ </h3>
            <div class="textosfooter">
            <li><a href="">Cómo comprar</a></li>
            <li><a href="">Zonas de entrega</a></li>
            <li><a href="">Términos y condiciones</a></li>
            </div>
            </article>

            <article>
                
                <h3>Mi perfil</h3>
            <div class="textosfooter">
                <li><a href="">Mi cuenta</a></li>
                <li><a href="">Mis pedidos</a></li>
            </div>
            </article>
            <article>
            

            </article>





        </section>
        <h6>Copyright © 2022 Frozenfoods</h6>
    </footer>
    <!--aquí termina el footer-->
</body>
</html>

