<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-container">
            <p>Frozen <br> foods</p>
        </div>
        <div class="menu-container">
            <p>Menu</p>
            <i class="fa-solid fa-angle-down"></i>
        </div>
        <input type="text" class="searcher" placeholder="Buscar... ">
        <div class="user-container">
            <i class="fa-solid fa-cart-plus"></i>
            <p>Mi cuenta</p>
            <i class="fa-solid fa-user"></i>
        </div>
    </header>
</body>
</html>