<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estructura.css">
    <title>Header</title>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body class="estilo-body">
    <header>
        <div class="logo-container">
            <p>Frozen</p>
            <p>Foods</p>
        </div>
        <div class="menu-container">
            <p>Menu</p>
            <i class="fa-solid fa-angle-down"></i>
        </div>
        <div class="search-container">
            <input type="text" class="searcher" placeholder=" Buscar... ">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="user-container">
            <i class="fa-solid fa-cart-plus"></i>
            <p><a href="/sign-in"> Mi cuenta</a></p>
            <i class="fa-solid fa-circle-user"></i>
        </div>
    </header>
    <main>
        <div class="banner-container">
            <img src="./images/banner-2.jpg" alt="banner" class="banner">
        </div>
        <h2 class="titular">Productos destacados</h2>
        <section class="productos-destacados">
            <i class="fa-solid fa-angle-left"></i>
            <article class="producto albondigas">
                <img src="./images/albondigas.jpg" alt="albondigas">
                <p class="description"> 10 Albondigas</p>
                <p class="precio">$2</p>
                <a href="/product">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
            <article class="producto alitas">
                <img src="./images/alitas.jpg" alt="alitas">
                <p class="description">2k galitas</p>
                <p class="precio">$3</p>
                <a href="/product">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
            <article class="producto lasagna-pollo">
                <img src="./images/lasaña-pollo.jpg" alt="lasagna-pollo">
                <p class="description">Lasagna de pollo</p>
                <p class="precio">$5</p>
                <a href="/product">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
            <article class="producto lasagna-vege">
                <img src="./images//goulash.jpg" alt="lasagna-vege">
                <p class="description">Goulash</p>
                <p class="precio">$2</p>
                <a href="/product">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
            <i class="fa-solid fa-angle-right"></i>
        </section>
        <h2 class="titular">Ofertas</h2>
        <section class="productos-descuento">
            <i class="fa-solid fa-angle-left"></i>
            <article class="producto albondigas">
                <img src="./images/wok-vege.jpg" alt="albondigas">
                <p class="description">Wok de vegetales</p>
                <p class="precio">$6 <strike>8</strike></p>
                <a href="/product">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
            <article class="producto alitas">
                <img src="./images/vegetales.jpg" alt="vegetales">
                <p class="description">Mix de vegetales</p>
                <p class="precio">$2 <strike>$3</strike></p>
                <a href="/product">
                    <button type="button">Detalles <br>y mas</button>
                </a>
                <a href="/carrito">
                    <button type="button">Agregar <br> <i class="fa-solid fa-plus"></i></button>
                </a>
            </article>
            <article class="producto lasagna-pollo">
                <img src="./images/vege-blanc.jpg" alt="lasagna-pollo">
                <p class="description">Mix vegetales blancos</p>
                <p class="precio">$2 <strike>$3</strike></p>
                
            </article>
            <article class="producto lasagna-vege">
                <img src="./images/lasaña-vege.jpg" alt="lasagna-vege">
                <p class="description">Lasagna vegetariana</p>
                <p class="precio">$4 <strike>5</strike></p>
            </article>
            <i class="fa-solid fa-angle-right"></i>
        </section>

    </main>
    <footer >
        <section class="piedepagina">
            <article>
                
            <h3>Tienda</h3>
            <div class="textosfooter">
            <p> Si tienes alguna duda puedes comunicarte con...</p>
            <div class="iconosfooter">
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook iconos"></i></a>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram iconos"></i></a>
                <a href="https://api.whatsapp.com/send?phone=XXXXXXXXXXX"><i class="fa-brands fa-whatsapp iconos"></i></a>
            </div>
            </div>            
            </article>
            <article>
            <h3> FAQ </h3>
            <div class="textosfooter">
            <li><a href="">Cómo comprar</a></li>
            <li><a href="">Zonas de entrega</a></li>
            <li><a href="">Términos y condiciones</a></li>
            </div>
            </article>
            <article>
                <h3>Mi perfil</h3>
            <div class="textosfooter">
                <li><a href="">Mi cuenta</a></li>
                <li><a href="">Mis pedidos</a></li>
            </div>
            </article>
        </section>
        <h6>Copyright © 2022 Frozenfoods</h6>
    </footer>
</body>
</html>