<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estructura.css">
    <link rel="stylesheet" href="/css/producto.css">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body class="estilo-body">
    <header>
      <a href="/"><div class="logo-container">
        <p>Frozen</p>
        <p>Foods</p>
    </div>
</a>
        <div class="menu-container">
            <p>Menu</p>
            <i class="fa-solid fa-angle-down"></i>
        </div>
        <div class="search-container">
            <input type="text" class="searcher" placeholder=" Buscar... ">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="user-container">
          <a href="/carrito"><i class="fa-solid fa-cart-plus"></i></a>
          <p><a href="/sign-in"> Mi cuenta</a></p>
            <i class="fa-solid fa-user"></i>
        </div>
    </header>
    <main>
      <section class="producto-container">
        <img src="./images/frijolbbq.jpg" alt="bbq" class="img-producto">
        <article class="producto-">
          <div class="description">

            <h2>Friol barbeq</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae commodi est neque fugit aliquam, eveniet ipsa, laboriosam in consequuntur autem expedita nemo ab magnam quibusdam animi nihil ut sint. Nisi!</p>
          </div>
          <hr>
          <p>Precio: 5 USD</p>
          <div class="agregar">
            <i class="fa-solid fa-plus"></i>
            <i class="fa-solid fa-minus"></i>
            <div class="cantidad">
              <h3>cantidad</h3>
              <input type="text">
            </div>
          </div>
          <button class="button-add">Agregar</button>
        </article>
        </section>
      <aside class="productos-relacionados">
        <h2 class="otros">Productos relacionados</h2>
        <section class="productos-destacados">
          <i class="fa-solid fa-angle-left"></i>
          <article class="producto albondigas">
              <img src="./images/albondigas.jpg" alt="albondigas">
              <p class="description"> 10 Albondigas</p>
              <p class="precio">$2</p>
              </a>
          </article>
          <article class="producto alitas">
              <img src="./images/alitas.jpg" alt="alitas">
              <p class="description">2k galitas</p>
              <p class="precio">$3</p>
              </a>
          </article>
          <article class="producto alitas">
            <img src="./images/alitas.jpg" alt="alitas">
            <p class="description">2k galitas</p>
            <p class="precio">$3</p>
            </a>
        </article>
          <article class="producto lasagna-vege">
              <img src="./images//goulash.jpg" alt="lasagna-vege">
              <p class="description">Goulash</p>
              <p class="precio">$2</p>
          </article>
          <i class="fa-solid fa-angle-right"></i>
      </aside>
      
    </main>
      <footer >
        <section class="piedepagina">
            <article>
                
            <h3>Tienda</h3>
            <div class="textosfooter">
            <p> Si tienes alguna duda puedes comunicarte con...</p>
            <div class="iconosfooter">
                <a href="https://www.facebook.com"><i class="fa-brands fa-facebook iconos"></i></a>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram iconos"></i></a>
                <a href="https://api.whatsapp.com/send?phone=XXXXXXXXXXX"><i class="fa-brands fa-whatsapp iconos"></i></a>
            </div>
            </div>            
            </article>
            <article>
            <h3> FAQ </h3>
            <div class="textosfooter">
            <li><a href="">Cómo comprar</a></li>
            <li><a href="">Zonas de entrega</a></li>
            <li><a href="">Términos y condiciones</a></li>
            </div>
            </article>
            <article>
                <h3>Mi perfil</h3>
            <div class="textosfooter">
              <li><a href="/sign-in">Mi cuenta</a></li>
                <li><a href="">Mis pedidos</a></li>
            </div>
            </article>
        </section>
        <h6>Copyright © 2022 Frozenfoods</h6>
    </footer>
</body>
</html>