<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/estructura.css" />
    <link rel="stylesheet" href="/css/signin.css" />
    <title>FrozenFoods/signIn</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <style>
      footer {
        position: absolute;
        bottom: 0;
      }
    </style>
  </head>
  <body class="estilo-body">
    <!-- Header -->
    <%- include('partials/header') %>
    <main>
      <p class="aviso-bienvenida">¡Bienvenido!</p>
      <form action="/users/signIn" method="POST" class="formulariosign" id="form">
        <div class="textos-e-input" id="emailDiv">
          <label for="email" class="textos-guia">Escribe tu email:</label>
          <input type="email" name="email" id="usuario" class="cuadros-input" />
          <% if (locals.errors && errors.email) { %>
          <div class="text-error"><%= errors.email.msg %></div>
          <% } %>
        </div>

        <div class="textos-e-input">
          <label for="password" class="textos-guia"
            >Escribe tu contraseña:</label
          >
          <input
            type="password"
            name="password"
            id="password"
            class="cuadros-input"
            required
          />
          <% if (locals.errors && errors.password) { %>
            <div class="text-error"><%= errors.password.msg %></div>
            <% } %>
        </div>

        <div class="recordarme">
          <div class="recordarme-div">
            <input type="checkbox" name="rememberMe" id="recordarme" />
            <label for="recordarme" class="">Recordarme</label>
          </div>
          <div class="recordarme-div">
            <a href="/">Olvidé mi contraseña</a>
          </div>
        </div>
        <div>
          <button type="submit" class="botonsignin" id="submit">Ingresar</button>
        </div>
        <div class="finalform">
          <p>¿Aún no tienes una cuenta?</p>
          <a href="/users/signUp" class="textosubrayado">Regístrate aquí</a>
        </div>
      </form>
    </main>
    <!-- Footer -->
    <%- include('partials/footer') %>
    <script src="/javaScript/signIn.js"></script>
  </body>
</html>
