body{
    display: flex;
    min-height: 100vh;
    flex-flow: column nowrap;
    justify-content: space-between;
}
main{
    /*position: relative;*/
    width:90vw;
    margin: auto;
    /*height: 70vh;*/
    padding: 3px;
}
.main-carrito {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

.articulocarrito{
    margin: 3px 0px;
    padding: 0.5rem 0.2rem;
    border-top: rgba(0,0,0, 0.5) 1px solid;
    border-bottom: rgba(0,0,0, 0.5) 1px solid;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 60vw;

}
.imagen{
    width: 100px;
}
.textoscarrito{
    width:25vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.eliminar{
    color: #35858A;
    font-size: 1.6rem;
}
.tituloscarrito{
    text-align: center;
    color: #5F7470;
    font-size: 1.8rem;
}
.precios{
color:#5F7470;
font-size: 2.4rem;
width: 6vw;
}
.seccion-carritores{
    border: 0.3rem solid #5F7470;
    background-color: #E0E2DB;
    border-radius: 5rem;
    width: 300px;
    margin: 2rem auto;
    padding: 1rem 0.5rem;
    justify-self: center;
    position: sticky;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.cuadro-resumen{
    justify-self: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.titulos-resumen-carrito{
    text-align: center;
    font-size: 1.8rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.costos{
    font-size: 1.8rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.botoncarrito{
    position: relative;
    font-size: 1.6rem;
    margin: 1rem auto;
    background-color: #889696;
    color: #E0E2DB;
    padding: 0.6rem 0.5rem 0.3rem 0.5rem;
    border: none;
    border-radius: 10px;
    
    }
@media (max-width: 769px) {
   h3.tituloscarrito{
       display: none;
        }
  .articulocarrito{
      flex-wrap: wrap;
      width: 80vw;
        }
  .textoscarrito{
      width:100%;
      justify-content: center;
        }
  .main-carrito {
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
        }
}
@media (min-width: 769px){
    footer{
        position: absolute;
        bottom: 0;
    }
}
/*Media query dektop*/
