/*Estilos generales*/
HTML{
    font-size: 62.5%;
}
*{
    box-sizing: border-box; 
    margin: 0px;
    border: 0px;  
   }
body {
    font-family: 'Roboto', sans-serif;

    font-family: 'Salsa', cursive;
}

footer {
     margin: auto;
     width: 90vw;
     background: #D2D4C8;
     opacity: 50%;
     box-shadow: inset 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
     padding: 10px;
     font-size: 1.2rem;
}

/*Aquí empiezan los estilos propios del footer*/
/*el footer es un elemento flex, aquí se configura los tamaños de los elemntos que contiene, su alineación, etc...*/
footer article{
    width: 25vw;
}
.piedepagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

}
.textosfooter{
    text-align: center;
    list-style: none;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}
.iconosfooter{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 0.2rem;
    }
.iconos{
    font-size: 2rem;
}
a{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

footer section h3 {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    text-align: center;
}

footer h6{
    margin-top: 0.3rem;
    font-size: 1.2rem;
    text-align: center;
}
/*Cree esta media-querie para que en celulares, se oculté el texto de cada categoría*/
@media (max-width: 360px){
    footer article{
        width: 80vw;
    }
    .textosfooter{
        display: none;
    }
}