

/*main*/
.img-producto {
  width: 30%;
}
p {
  font-size: 1.6rem;
}

.producto {
  border: 1px solid #d8d8d8;
  border-radius: 0.4rem;
  text-align: center;
  margin: 2rem 0rem;
}
.seccion-productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 5rem;
}
.producto-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.producto- {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  max-width: 50rem;
}
h2 {
  text-align: center;
  font-size: 2rem;
}
.cantidad {
  text-align: center;
}
.cantidad input {
  font-size: 1.5rem;
  border-radius: 0.2rem;
  width: 3rem;
  text-align: center;
  padding: 0.2rem;
  margin-top: 0.5rem;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.producto {
  border-radius: 0.4rem;
  text-align: center;
  width: 19rem;

}

.producto img {
  width: 100%;
}
.productos-destacados {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.botones-producto{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
  margin: 5rem auto;

}
.boton-editar{
  border: white solid 0.2 rem;
  background-color: #ffff66;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  padding: 2rem 3rem;
  width: 20rem;
  font-weight: bold;
  
}
.boton-eliminar{
  border: white solid 0.2 rem;
  background-color: #ff4040;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  padding: 2rem 3rem;
  width: 20rem;
  margin-top: 5rem;
  font-weight: bold;
}
.otros {
  text-align: center;
  margin-top: 2rem;
  display: grid;
}
.agregar {
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  font-size: 1.4rem;
  margin: 0.5rem;
}
.button-add {
  background-color: #35858A;
  color: #fff;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  padding: 0.5rem;
  margin-top: 2rem;
}
.h {
  box-shadow: inset 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.seccion-productos {
  display: grid;
  grid-template-columns:1fr 1fr;
  column-gap: 1rem;
  justify-items: center;
}
/*main*/
/*footer*/
.lasagna-pollo {
  display: none;
}
.lasagna-vege {
  display: none;
}
/*Media query tablet*/

@media (max-width: 481px) {
  .img-producto {
    width: 20rem;
  }
  .producto {
    width: 15rem;
  }
}

@media (min-width: 481px) {
  html {
      font-size: 70%;
  }
  .img-producto {
    width: 22rem;
  }
}
/*Media query dektop*/
@media(min-width: 769px) {
  html {
      font-size: 80%
  }
  .banner {
      height: 20rem;
  }
  .lasagna-pollo {
      display: block;
  }
  .img-producto {
    width: 25rem;
  }
  .seccion-productos {
    column-gap: 2rem;
  }
  .producto {
    width: 22rem;
  }

}
/* media query desktop huge*/
@media(min-width: 1280px){
  .banner {
      height: 30rem;
  }
  .lasagna-vege {
      display: block;
  }
  .img-producto {
    width: 30rem;
  }
  .seccion-productos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}