html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

/*.estilo-body{

}*/


/*Cree esta media-querie para que en celulares, se oculté el texto de cada categoría*/
@media (max-width: 360px) {
    footer article {
        width: 80vw;
    }

    .textosfooter {
        display: none;
    }
}
.flex-editarproducto{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

/*Formulario sign-in*/
.aviso-bienvenida {
    width: 100vw;
    display: block;
    text-align: center;
    margin: 3rem 0;
    font-size: 3rem;
    color: #3a3f3f;
}

label {
    font-size: 1.2rem;
}

.textos-e-input {
    margin: 3rem 0;
    text-align: center;
}

.textos-guia {
    font-size: 1.7rem;
    display: block;
    margin: 0.6rem 0;
    font-style: italic;

}

.cuadros-input {
    border: 1px solid #E0E2DB;
    border-radius: 0.5rem;
    padding: 3px 0px;
    width: 80%;
    font-size: 1.2rem;
    font-family: sans-serif;
    resize:none;
}

.botonsignin {
    position: relative;
    display: block;
    font-size: 1.6rem;
    margin: 3rem auto;
    background-color: #889696;
    color: #E0E2DB;
    padding: 7px 5px;
    border: none;
    border-radius: 10px;
    width: 80%;
    cursor:pointer
}
.descripcion {
    border: 1px solid #E0E2DB;
    border-radius: 0.5rem;
    padding: 3px 0px;
    width: 80%;
    height: 7rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    resize:none;

}

.formulariosign {
    position: relative;
    border: 0.3rem solid #5F7470;
    border-radius: 5rem;
    width: 55%;
    display: block;
    margin: 4rem auto;
    padding: 1rem 0.5rem;
}



.recordarme {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.recordarme-div label{
    font-size: 1.6rem;
}

.finalform {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}
.finalform a {
    font-size: 1.6rem;
}
.img-producto-editar{
    width:80%;
}
.imagen-editar{
    width:40%;
}
.textos-editar{
    width: 40%;
    text-align: center;
}
.textosubrayado {
    text-decoration: underline;
}
.formulariosproduct {
    position: relative;
    border: 0.3rem solid #5F7470;
    border-radius: 5rem;
    width: 80vw;
    display: block;
    margin: 2rem auto;
    padding: 1rem 0.5rem;
    text-align: center;
}
.lupa{
    padding: 2px 4px 2px 4px;
    color: black;
    border-left: 1px solid #ebebeb;
    background-color: white;
    background-size: 1px;
    text-align: center;
    }
    .texto-error{
        color: red;
        text-align: left;
        font-size: 1.2rem;
        margin: 0;
       }
.text-error {
    font-size: 1.4rem;
    color: rgb(251, 84, 24);
}
.is-invalid {
    border: solid 1px red;
}
.boton-eliminar{
    border: white solid 0.2 rem;
    background-color: #ff4040;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    padding: 2rem 3rem;
    width: 20rem;
    margin-top: 5rem;
    font-weight: bold;
  }
.error {
    font-size: 2rem;
    color: red;
    text-align: center;
}
.success {
    color: green;
}

/* media querys tablet*/
@media (min-width: 481px) {
    html {
        font-size: 70%;
    }
    
}

/*Media query dektop*/
@media(min-width: 769px) {
    html {
        font-size: 80%
    }
    .formulariosign {
        width: 40%;
    }
}
@media(min-width: 1280px) {
    html {
        font-size: 80%
    }
    .formulariosign {
        width: 33%;
    }
}
@media(max-width: 1160px){
    
}