

/*main*/
.img-producto {
  width: 30%;
}
p {
  font-size: 1.6rem;
}


.producto-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.producto- {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}
h2 {
  text-align: center;
}
.cantidad input {
  border-radius: 0.2rem;
  width: 3rem;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.producto {
  border-radius: 0.4rem;
  text-align: center;
  width: 19rem;

}
.description{

  width: 30vw;
}
.producto img {
  width: 100%;
}
.productos-destacados {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.otros {
  text-align: center;
  margin-top: 2rem;
}
.agregar {
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  font-size: 1.4rem;
  margin: 0.5rem;
}
.button-add {
  background-color: #35858A;
  color: #fff;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  padding: 0.5rem;
  margin-top: 2rem;
}
/*main*/
/*footer*/
.lasagna-pollo {
  display: none;
}
.lasagna-vege {
  display: none;
}
/*Media query tablet*/

@media (max-width: 481px) {
  .img-producto {
    width: 20rem;
  }
}

@media (min-width: 481px) {
  html {
      font-size: 70%;
  }
}
/*Media query dektop*/
@media(min-width: 769px) {
  html {
      font-size: 80%
  }
  .banner {
      height: 20rem;
  }
  .lasagna-pollo {
      display: block;
  }
}
/* media query desktop huge*/
@media(min-width: 1280px){
  .banner {
      height: 30rem;
  }
  .lasagna-vege {
      display: block;
  }
}